body {
    background-image: url('static/images/index_image.jpg');
}

.responsive-bg {
    background-size: cover;
    background-position: 50% 40%;
    height: 500px;
}

nav.navbar,
footer.footer {
    background-color: #452c63;
}

.nav-link {
    font-family: 'Hanken Grotesk', sans-serif;
}

.nav-icon {
    color: #F0E68C;
}

.index-intro {
    color: #F0E68C;
    font-family: 'Notable', sans-serif;
}

@media (max-width: 576px) {
    .index-intro {
        font-size: 15px;
        padding-left: 7px;
    }
}

.footer-text {
    font-size: 14px;
}

@media (max-width: 576px) {
    .footer-text {
        font-size: 10px;
    }
}
