{% extends 'bandapp/base.html' %}

{% load static %}

{% block title %}Login | {% endblock %}

{% block content %}
    <section class="section login-section responsive-bg p-sm-5" style="background-image: url('/static/images/index_image.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="container d-flex flex-column gap-4">
            <div style="color: #F0E68C; font-family: 'Allerta Stencil', sans-serif;">Login to view tour dates, purchase our tickets and merch.</div>

            {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show msg-container" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form action="{% url 'user_auth:authenticate_user' %}" method="post">
                {% csrf_token %}

                <div>
                    <label class="me-4" style="color: #F0E68C";>Username</label>
                    <input type="text" name="username" placeholder="username" required>
                </div>
                <br>

                <div>
                    <label class="me-4" style="color: #F0E68C";>Password</label>
                    <input type="text" name="password" required>
                </div>
                <br>

                <input class="mt-4 bg-warning text-dark fw-semibold" type="submit" value="Login"/>
            </form>

            <div>
                <a href="/register" class="btn btn-warning fw-semibold btn-sm" role="button">Sign Up</a>
            </div>
        </div>
    </section>
{% endblock %}