{% extends 'bandapp/base.html' %}

{% load static %}

{% block title %}Funk Flow | {% endblock %}

{% block content %}
    <section class="section responsive-bg p-sm-5" style="background-image: url('static/images/index_image.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="h4 index-intro">
            Join the movement and experience the energy of <span style="color: yellow; font-weight: bold;">FunkFlow&trade;</span>, the hip hop collective that's taking the music industry by storm.
        </div>

        <div class="cta h6 mt-5" style="color:yellow;">
            <button type="button" class="btn btn-warning text-dark btn-lg fw-semibold me-2">Log in</button> or <button type="button" class="btn btn-warning text-dark btn-lg fw-semibold ms-2">Sign Up</button> <span class="ms-2">for more</span>
        </div>
    </section>
{% endblock %}