{% extends 'bandapp/base.html' %}

{% load static %}

{% block title %}Merch | {% endblock %}

{% block content %}
    <!--Search bar-->
    <section class="bg-light text-dark p-1">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="img-logo img-fluid" src="./images/ark_logo.png" alt="">
                </a>
                <form method="get" action="{% url 'bandapp:merch_search' %}" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </section>

    <section class="section responsive-bg p-5" style="background-image: url('/static/images/index_image.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="h2 search-intro" style="color:yellow;">
            Search results
        </div>
        <div class="h4 query-intro" style="color:yellow;">
            Query "{{ query }}"
        </div>

        {% if merch_list %}
        <section class="px-sm-5 text-light mt-5">
            <div class="container pt-5">
                <div class="row g-4">
                    {% for merch in merch_list %}
                        <div class="col-md-6 col-lg-4">
                            <div class="card merch-card p-2 w-100">
                                <img src="{{ merch.merch_photo.url }}" class="merch-card-img img-fluid" style="height: 490px;" alt="...">
                                <div class="card-body text-dark">
                                    <h6 class="card-title fw-semibold fs-4" style="color: #452c63">{{ merch.merch_name }}</h6>
                                    <h6 class="card-title">{{ merch.merch_description }}</h6>
                                    <p class="card-text fs-3">R {{ merch.merch_price }}</p>
                                    <a href="#" class="btn btn-warning btn-lg">ORDER</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>                
            </div>
        </section>
        {% else %}
            <div class="h6 index-intro mt-5">
                No results for "{{ query }}".
            </div>
        {% endif %}
    </section>
{% endblock %}
