{% extends 'bandapp/base.html' %}

{% load static %}

{% block title %}Merch | {% endblock %}

{% block content %}
    <section class="section responsive-bg p-sm-5" style="background-image: url('/static/images/index_image.jpg'); background-size: cover; background-repeat: no-repeat;">
        <h2>Ticket Confirmation</h2>
        <p>You have purchased {{ ticket.quantity }} tickets for the {{ ticket.tour.name }} tour.</p>
        <p>Total price: ${{ total_price }}</p>
    </section>
{% endblock %}




