{% extends 'bandapp/base.html' %}

{% load static %}

{% block title %}Tours | {% endblock %}

{% block content %}
    <section class="section responsive-bg p-sm-5" style="background-image: url('/static/images/index_image.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="h4 index-intro">
            UPCOMING TOURS
        </div>

        {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show msg-container" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if tour_list %}
        <section class="px-sm-5 text-light mt-5">
            <div class="container pt-5">
                {% for tour in tour_list %}
                <div class="row text-center justify-content-around g-5">
                    <div class="col-lg-6">
                        <div class="card album-card shadow bg-transparent border border-3 border-warning text-light">
                            <div class="card-body text-center">
                                <div class="title mb-3 mt-1">
                                    <h5 class="card-title text-warning">{{ tour.tour_name }}</h5>
                                </div>
                                <div class="body-image-container">
                                    <img class="img-fluid rounded-top card-img" src="{{ tour.tour_image.url }}" alt=""/>
                                </div>                                
                                <div class="card-button tour-location mb-3 mt-3 fs-4" style="color: #F0E68C; font-family: 'Notable', sans-serif;">{{ tour.tour_location }}</div>
                                <div class="dropdown">
                                    <a href='#' class="btn btn-warning dropdown-toggle fw-semibold" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Get Tickets
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="ticket-drop-down">
                                        <form method="post" action="{% url 'bandapp:buy_ticket' tour.slug %}" class="d-flex flex-column bg-white text-dark px-3">
                                        {% csrf_token %}
                                            <div class="form-group mb-3 text-center">
                                                <label class="fw-semibold fs-6 mb-3" for="exampleFormControlInput1">Enter number of tickets</label>
                                                <div>
                                                    <input type="number" name="quantity" class="form-control" value=0 id="exampleFormControlInput1">
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-success btn-sm">Buy</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% else %}
        <div class="h6 index-intro mt-5">
            No tours for now.
        </div>
        {% endif %}
    </section>
{% endblock %}