{% extends 'bandapp/base.html' %}

{% load static %}

{% block title %}Albums | {% endblock %}

{% block content %}
    <section class="section responsive-bg p-sm-5" style="background-image: url('/static/images/index_image.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div class="h4 index-intro">
            Here's our projects. <span style="color: yellow; font-weight: bold;">Enjoy!</span>
        </div>

        {% for track in tracklist.tracks.all %}
            <h3>{{ track.title }}</h3>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ track.youtube_video_id }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
    </section>
{% endblock %}
